.doctors_page-container{
    margin-top: 2rem;
}

.download-buttons {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.download-buttons button{
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid black;
    width: 250px;
    height: 40px;
    transition: .2s;
}

.download-buttons button:hover{
    background-color: #c9a400;
}

@media screen and (max-width:930px){
    .doctors_page-container{
        padding: 0 2rem;
    }
}